header {
  text-align: center;
  background-color: #ffcc99;
  box-shadow: 0px 0px 12px 0px #00000010;
  padding: 10px;
}

header h1 {
  font-weight: bold;
}

main {
  background-color: #e6f2ff;
  margin: 20px;
  display: flex;
  flex-direction: row;
}

aside {
  background-color: #b3d9ff;
  border: solid 1px #ccc;
  padding: 10px;
  flex: 1;
}

section {
  padding: 10px;
  flex: 3;
}

footer {
  text-align: center;
  background-color: #99cc99;
  border: solid 1px #ccc;
  box-shadow: 0px 0px 12px 0px #00000010;
  padding: 10px;
}
